# Temporary and binary files
*~
*.orig
*.log
*.pot
**/__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.vscode
spack-*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
venv

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# tests and coverage
.coverage
.tox
*pkl.gz
cell_memory_usage.json
mcomplex.dat
memory_per_metype.json
sim_conf/*
tests/simulations/*/output*
tests/simulations/usecase3/reporting*
*.SUCCESS

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/build/
cover/*
MANIFEST
